<!DOCTYPE html>
<html>
{% load static %}
    <head>
        <title>PPWLab - My Schedule</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">

    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Lab3.css' %}">
    	<style type="text/css">
            /** {
                border-style: solid;
            }*/
    	</style>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
    	<!-- from bootstrap -->
    	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navBar">
            <img class="rounded-circle" id="kakPeweLogo" src="{% static 'img/Kak-Pewe.jpg' %}">
		    <a class="navbar-brand" id="navBarBrand" href="{% url 'schedule_app:schedule' %}"><h3>PPWLAB - MY SCHEDULE</h3></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			    <div class="navbar-nav" id="navBarNav">
			    	<a class="nav-item nav-link" href="{% url 'home_app:home' %}"><h3>Home</h3></a>
                    <a class="nav-item nav-link" href="{% url 'schedule_app:schedule' %}"><h3>Schedule</h3></a>
			        <a class="nav-item nav-link active" href="{% url 'profile_app:profile' %}"><h3>Profile <span class="sr-only">(current)</span></h3></a>
			        <a class="nav-item nav-link" href="{% url 'profile_app:profile' %}"><img class="rounded-circle" id="profileLogo" src="{% static 'img/Foto.jpg' %}"></a>
			    </div>
		    </div>
		</nav>

        <!-- main card -->
        <div class="card" id="card1">
            <div class="card-body">
                <div>
                    <h2 id="name">Add a New Activity</h2>
                    <hr>
                </div>

                <form method="POST" action="{% url 'schedule_app:addschedule' %}">
                    {% csrf_token%}
                    {{message_form}}

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

        <div id="card2">
    		<div class="card header-card">
                <div class="card-body header-card-body">
                    <h4 id="about">My Activities</h4>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <table class="table table-hover" id="scheduleTable">
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for Activity in activities %}
                            <tr>
                            <td scope="row">{{Activity.name}}</td>
                            <td>{{Activity.category}}</td>
                            <td>{{Activity.location}}</td>
                            <td>{{Activity.date}}</td>
                            <td>{{Activity.time}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <form method="POST" action="{% url 'schedule_app:clearschedule' %}">
                        {% csrf_token%}
                        <button type="submit" class="btn btn-danger">Clear Schedule</button>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>